In [622]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [623]:
#checks whether the file exists

os.path.exists('airline_accidents.csv.zip')

True

In [624]:
df=pd.read_csv('airline_accidents.csv.zip',low_memory=False)

In [625]:
df.head()

,Event Id,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,...,Purpose of Flight,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Report Publication Date,Unnamed: 30
0,20080125X00106,Accident,SEA08CA056,12/31/2007,"Santa Ana, CA",United States,33.675556,-117.868056,SNA,John Wayne - Orange County,...,Instructional,,,,,2,VMC,LANDING,02/28/2008,
1,20080206X00141,Accident,CHI08WA075,12/31/2007,"Guernsey, United Kingdom",United Kingdom,49.435000,-2.600278,,,...,Unknown,,,,,1,,,02/06/2008,
2,20080129X00122,Accident,CHI08CA057,12/30/2007,"Alexandria, MN",United States,45.866111,-95.394444,AXN,Chandler Field Airport,...,Personal,,,,,1,VMC,TAKEOFF,02/28/2008,
3,20080114X00045,Accident,LAX08FA043,12/30/2007,"Paso Robles, CA",United States,35.542222,-120.522778,PRB,Paso Robles Airport,...,Personal,,1,,,,VMC,MANEUVERING,06/20/2014,
4,20080109X00032,Accident,NYC08FA071,12/30/2007,"Cherokee, AL",United States,34.688611,-87.920000,,,...,Other Work Use,,3,0,0,0,VMC,MANEUVERING,01/15/2009,

In [626]:
df.columns

Index(['Event Id', 'Investigation Type', 'Accident Number', 'Event Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport Code',
       'Airport Name', 'Injury Severity', 'Aircraft Damage',
       'Aircraft Category', 'Registration Number', 'Make', 'Model',
       'Amateur Built', 'Number of Engines', 'Engine Type', 'FAR Description',
       'Schedule', 'Purpose of Flight', 'Air Carrier', 'Total Fatal Injuries',
       'Total Serious Injuries', 'Total Minor Injuries', 'Total Uninjured',
       'Weather Condition', 'Broad Phase of Flight', 'Report Publication Date',
       'Unnamed: 30'],
      dtype='object')

In [627]:
#removes the  unimportant information not required for calculations

drop_col=['Event Id','Airport Code','Airport Name','Registration Number','FAR Description','Schedule','Purpose of Flight']
df.drop(columns=drop_col,inplace=True)

In [628]:
df.head()

,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Injury Severity,Aircraft Damage,Aircraft Category,...,Engine Type,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Report Publication Date,Unnamed: 30
0,Accident,SEA08CA056,12/31/2007,"Santa Ana, CA",United States,33.675556,-117.868056,Non-Fatal,Substantial,Airplane,...,Reciprocating,,,,,2,VMC,LANDING,02/28/2008,
1,Accident,CHI08WA075,12/31/2007,"Guernsey, United Kingdom",United Kingdom,49.435000,-2.600278,Non-Fatal,Minor,,...,,,,,,1,,,02/06/2008,
2,Accident,CHI08CA057,12/30/2007,"Alexandria, MN",United States,45.866111,-95.394444,Non-Fatal,Substantial,Airplane,...,Reciprocating,,,,,1,VMC,TAKEOFF,02/28/2008,
3,Accident,LAX08FA043,12/30/2007,"Paso Robles, CA",United States,35.542222,-120.522778,Fatal(1),Substantial,Airplane,...,Reciprocating,,1,,,,VMC,MANEUVERING,06/20/2014,
4,Accident,NYC08FA071,12/30/2007,"Cherokee, AL",United States,34.688611,-87.920000,Fatal(3),Substantial,Helicopter,...,Turbo Shaft,,3,0,0,0,VMC,MANEUVERING,01/15/2009,

In [629]:
#combines the total number of injuries in a column

injury=['Total Fatal Injuries','Total Serious Injuries', 'Total Minor Injuries']
df['all injured']=df[injury].sum(axis=1)

In [630]:
df.head()

,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Injury Severity,Aircraft Damage,Aircraft Category,...,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Report Publication Date,Unnamed: 30,all injured
0,Accident,SEA08CA056,12/31/2007,"Santa Ana, CA",United States,33.675556,-117.868056,Non-Fatal,Substantial,Airplane,...,,,,,2,VMC,LANDING,02/28/2008,,
1,Accident,CHI08WA075,12/31/2007,"Guernsey, United Kingdom",United Kingdom,49.435000,-2.600278,Non-Fatal,Minor,,...,,,,,1,,,02/06/2008,,
2,Accident,CHI08CA057,12/30/2007,"Alexandria, MN",United States,45.866111,-95.394444,Non-Fatal,Substantial,Airplane,...,,,,,1,VMC,TAKEOFF,02/28/2008,,
3,Accident,LAX08FA043,12/30/2007,"Paso Robles, CA",United States,35.542222,-120.522778,Fatal(1),Substantial,Airplane,...,,1,,,,VMC,MANEUVERING,06/20/2014,,1
4,Accident,NYC08FA071,12/30/2007,"Cherokee, AL",United States,34.688611,-87.920000,Fatal(3),Substantial,Helicopter,...,,3,0,0,0,VMC,MANEUVERING,01/15/2009,,3 0 0

In [631]:
df.columns

Index(['Investigation Type', 'Accident Number', 'Event Date', 'Location',
       'Country', 'Latitude', 'Longitude', 'Injury Severity',
       'Aircraft Damage', 'Aircraft Category', 'Make', 'Model',
       'Amateur Built', 'Number of Engines', 'Engine Type', 'Air Carrier',
       'Total Fatal Injuries', 'Total Serious Injuries',
       'Total Minor Injuries', 'Total Uninjured', 'Weather Condition',
       'Broad Phase of Flight', 'Report Publication Date', 'Unnamed: 30',
       'all injured'],
      dtype='object')

In [632]:
#Looks at the models of aircraft and number

print(df['Model'].value_counts().index)
print(df['Model'].value_counts())

Index([' PA-28 ', ' 150 ', ' 172 ', ' 152 ', ' PA-22 ', ' 182 ', ' PA-18 ',
       ' PA-24 ', ' 180 ', ' PA-25 ',
       ...
       ' WITTMAN WT-8 ', ' KING COBRA-B ', ' PRO TECH ', ' BL14-19-3 ',
       ' ZLIN Z50 LA ', ' J-3-C65 ', ' MY-200A ', ' ST-108-2 ', ' RC 3 ',
       ' 206TU '],
      dtype='object', name='Model', length=11212)
Model
PA-28        5886
150          5172
172          4279
152          2712
PA-22        2421
             ...
J-3-C65         1
MY-200A         1
ST-108-2        1
RC 3            1
206TU           1
Name: count, Length: 11212, dtype: int64

In [633]:
#looks at the aircraft category and count

print(df['Aircraft Category'].value_counts().index)
print(df['Aircraft Category'].value_counts())

Index(['  ', ' Airplane ', ' Helicopter ', ' Glider ', ' Balloon ',
       ' Gyrocraft ', ' Ultralight ', ' Powered-Lift ', ' Blimp ',
       ' Unknown '],
      dtype='object', name='Aircraft Category')
Aircraft Category
                 143206
Airplane           6732
Helicopter          760
Glider              141
Balloon              70
Gyrocraft            36
Ultralight            7
Powered-Lift          3
Blimp                 3
Unknown               1
Name: count, dtype: int64

In [634]:
#looks at the engine type and count

print(df['Engine Type'].value_counts().index)
print(df['Engine Type'].value_counts())

Index(['  ', ' Reciprocating ', ' Turbo Shaft ', ' Turbo Prop ', ' Unknown ',
       ' Turbo Fan ', ' Turbo Jet ', ' REC, TJ, TJ '],
      dtype='object', name='Engine Type')
Engine Type
                  88498
Reciprocating     53326
Turbo Shaft        2594
Turbo Prop         2273
Unknown            2024
Turbo Fan          1661
Turbo Jet           582
REC, TJ, TJ           1
Name: count, dtype: int64

In [635]:
#number of engines in the aircraft

df['Number of Engines'].value_counts()

Number of Engines
      89594
1     51424
2      8215
0       927
3       452
4       347
Name: count, dtype: int64

The data is at this point subdivided into its various categorisies as show above . The next part involves further trimming of the data into the most important categories to facilitate calculations . 
1.Model : all planes that do not contain the PA were removed as they are older rare aircrafts that are unsafe 
2.Aircraft Category : only airplanes were kept as that is what the client required

In [636]:
df.columns

Index(['Investigation Type', 'Accident Number', 'Event Date', 'Location',
       'Country', 'Latitude', 'Longitude', 'Injury Severity',
       'Aircraft Damage', 'Aircraft Category', 'Make', 'Model',
       'Amateur Built', 'Number of Engines', 'Engine Type', 'Air Carrier',
       'Total Fatal Injuries', 'Total Serious Injuries',
       'Total Minor Injuries', 'Total Uninjured', 'Weather Condition',
       'Broad Phase of Flight', 'Report Publication Date', 'Unnamed: 30',
       'all injured'],
      dtype='object')

In [637]:
#shortlisted data

shortlist=['Aircraft Category', 'Model', 'Number of Engines','Engine Type','Weather Condition','all injured']
df1=df[shortlist].copy()

In [638]:
#only keep airplane values

df1.loc[:,'Aircraft Category'] = 'Airplane'

In [639]:
df1

,Aircraft Category,Model,Number of Engines,Engine Type,Weather Condition,all injured
0,Airplane,PA-12,1,Reciprocating,VMC,
1,Airplane,T303,,,,
2,Airplane,RV-8,1,Reciprocating,VMC,
3,Airplane,SR22,1,Reciprocating,VMC,1
4,Airplane,206L-3,1,Turbo Shaft,VMC,3 0 0
...,...,...,...,...,...,...
150954,Airplane,L-18,,,,000
150955,Airplane,210,,,,000
150956,Airplane,PA-22,,,,000
150957,Airplane,140,,,,000
150958,Airplane,14-19,,,,000