In [191]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [192]:
os.path.exists('airline_accidents.csv.zip')

True

In [193]:
df=pd.read_csv('airline_accidents.csv.zip',dtype=str)

In [194]:
df.head()

,Event Id,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,...,Purpose of Flight,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Report Publication Date,Unnamed: 30
0,20080125X00106,Accident,SEA08CA056,12/31/2007,"Santa Ana, CA",United States,33.675556,-117.868056,SNA,John Wayne - Orange County,...,Instructional,,,,,2,VMC,LANDING,02/28/2008,
1,20080206X00141,Accident,CHI08WA075,12/31/2007,"Guernsey, United Kingdom",United Kingdom,49.435000,-2.600278,,,...,Unknown,,,,,1,,,02/06/2008,
2,20080129X00122,Accident,CHI08CA057,12/30/2007,"Alexandria, MN",United States,45.866111,-95.394444,AXN,Chandler Field Airport,...,Personal,,,,,1,VMC,TAKEOFF,02/28/2008,
3,20080114X00045,Accident,LAX08FA043,12/30/2007,"Paso Robles, CA",United States,35.542222,-120.522778,PRB,Paso Robles Airport,...,Personal,,1,,,,VMC,MANEUVERING,06/20/2014,
4,20080109X00032,Accident,NYC08FA071,12/30/2007,"Cherokee, AL",United States,34.688611,-87.920000,,,...,Other Work Use,,3,0,0,0,VMC,MANEUVERING,01/15/2009,

In [195]:
df.columns

Index(['Event Id', 'Investigation Type', 'Accident Number', 'Event Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport Code',
       'Airport Name', 'Injury Severity', 'Aircraft Damage',
       'Aircraft Category', 'Registration Number', 'Make', 'Model',
       'Amateur Built', 'Number of Engines', 'Engine Type', 'FAR Description',
       'Schedule', 'Purpose of Flight', 'Air Carrier', 'Total Fatal Injuries',
       'Total Serious Injuries', 'Total Minor Injuries', 'Total Uninjured',
       'Weather Condition', 'Broad Phase of Flight', 'Report Publication Date',
       'Unnamed: 30'],
      dtype='object')

In [196]:
drop_col=['Event Id','Airport Code','Airport Name','Registration Number','FAR Description','Schedule','Purpose of Flight']
df.drop(columns=drop_col,inplace=True)

In [197]:
df.head()

,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Injury Severity,Aircraft Damage,Aircraft Category,...,Engine Type,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Report Publication Date,Unnamed: 30
0,Accident,SEA08CA056,12/31/2007,"Santa Ana, CA",United States,33.675556,-117.868056,Non-Fatal,Substantial,Airplane,...,Reciprocating,,,,,2,VMC,LANDING,02/28/2008,
1,Accident,CHI08WA075,12/31/2007,"Guernsey, United Kingdom",United Kingdom,49.435000,-2.600278,Non-Fatal,Minor,,...,,,,,,1,,,02/06/2008,
2,Accident,CHI08CA057,12/30/2007,"Alexandria, MN",United States,45.866111,-95.394444,Non-Fatal,Substantial,Airplane,...,Reciprocating,,,,,1,VMC,TAKEOFF,02/28/2008,
3,Accident,LAX08FA043,12/30/2007,"Paso Robles, CA",United States,35.542222,-120.522778,Fatal(1),Substantial,Airplane,...,Reciprocating,,1,,,,VMC,MANEUVERING,06/20/2014,
4,Accident,NYC08FA071,12/30/2007,"Cherokee, AL",United States,34.688611,-87.920000,Fatal(3),Substantial,Helicopter,...,Turbo Shaft,,3,0,0,0,VMC,MANEUVERING,01/15/2009,

In [198]:
df['Make'].value_counts()

Make
CESSNA              43264
PIPER               28598
BEECH                8552
Cessna               7491
Piper                3956
                    ...
Dennis Pointer          1
Parkman                 1
Dean                    1
Aegerter, Simon         1
BC65                    1
Name: count, Length: 6246, dtype: int64

In [199]:
df.columns

Index(['Investigation Type', 'Accident Number', 'Event Date', 'Location',
       'Country', 'Latitude', 'Longitude', 'Injury Severity',
       'Aircraft Damage', 'Aircraft Category', 'Make', 'Model',
       'Amateur Built', 'Number of Engines', 'Engine Type', 'Air Carrier',
       'Total Fatal Injuries', 'Total Serious Injuries',
       'Total Minor Injuries', 'Total Uninjured', 'Weather Condition',
       'Broad Phase of Flight', 'Report Publication Date', 'Unnamed: 30'],
      dtype='object')