In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [ ]:
#checks whether the file exists

os.path.exists('airline_accidents.csv.zip')

In [ ]:
df=pd.read_csv('airline_accidents.csv.zip',low_memory=False)
df.head()

In [ ]:
df.columns.tolist()

In [ ]:
relevant_columns=['Event Date','Injury Severity','Aircraft Damage','Aircraft Category','Make','Model','Number of Engines','Engine Type','Total Fatal Injuries','Total Serious Injuries','Total Uninjured','Weather Condition']

In [ ]:
df.replace("-", np.nan, inplace=True)
df = df[relevant_columns]
df.head()

In [ ]:
df=df[df['Aircraft Category'].str.strip()=='Airplane']
df

In [ ]:
df['Engine Type'].value_counts().index.tolist()

In [363]:
df=df[df['Engine Type'].str.strip().isin(['Reciprocating','Turbo Fan','Turbo Jet','Turbo Prop'])]
df

,Event Date,Injury Severity,Aircraft Damage,Aircraft Category,Make,Model,Number of Engines,Engine Type,Total Fatal Injuries,Total Serious Injuries,Total Uninjured,Weather Condition
0,12/31/2007,Non-Fatal,Substantial,Airplane,Piper,PA-12,1,Reciprocating,,,2,VMC
2,12/30/2007,Non-Fatal,Substantial,Airplane,Lerohl,RV-8,1,Reciprocating,,,1,VMC
3,12/30/2007,Fatal(1),Substantial,Airplane,Cirrus Design Corp.,SR22,1,Reciprocating,1,,,VMC
5,12/29/2007,Non-Fatal,Substantial,Airplane,Piper,PA-46-310P,1,Reciprocating,,,5,VMC
6,12/29/2007,Non-Fatal,Substantial,Airplane,Ercoupe (Eng & Research Corp.),415D,1,Reciprocating,,,2,VMC
...,...,...,...,...,...,...,...,...,...,...,...,...
63898,01/02/1982,Non-Fatal,Substantial,Airplane,CESSNA,150L,1,Reciprocating,0,0,2,VMC
63899,01/02/1982,Fatal(3),Destroyed,Airplane,CESSNA,180,1,Reciprocating,3,0,0,VMC
63901,01/01/1982,Non-Fatal,Substantial,Airplane,CESSNA,401B,2,Reciprocating,0,0,2,IMC
63902,01/01/1982,Non-Fatal,Substantial,Airplane,CESSNA,140,1,Reciprocating,0,0,2,VMC
72770,09/17/1979,Non-Fatal,Substantial,Airplane,MCDONNELL DOUGLAS,DC9,2,Turbo Fan,,,44,VMC

In [ ]:
df.columns

In [ ]:
top_models=df['Model'].value_counts()
print(top_models)
top_5_models=df['Model'].value_counts().head(5).index.tolist()
print(top_5_models)
top_5_count=df['Model'].value_counts().head(5).values.tolist()
print(top_5_count)

In [ ]:
x=top_5_models
y=top_5_count
colour=['red','green','yellow','pink','grey']
plt.bar(x,y,color=colour)
plt.title('Most Used Airplane Models')
plt.xlabel('Top Models')
plt.ylabel('Number Of Accidents By Model')